<h1 class="text-success text-center">Live angular diretivas</h1>

<!-- Contador de 1 até 10 -->
<!-- Quando contador < 5 background vermelho -->
<!-- Quando contador > 5 background verde -->
<!-- Diretivas de atributo -->
<div 
[ngStyle]="{ background: count < 5 ? 'red': 'green' }"
[ngClass]="{ custom: count > 5}"
>
  <h2 class="text-center">Contador: {{ count }}</h2>
</div>

<!-- Diretivas Estruturais -->
<h2 *ngIf="count > 7; else menor">O contador passou de 7!</h2>


<ng-template #menor>
  <h2>O contador e menor que 7!</h2>
</ng-template>